.input-container{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 30px 0px;
	width: 100%;
	padding: 50px 0px;
}

.image-container{
	margin: 0px auto;
}

.image-container img{
	width: 244px;
	height: 244px;
	border: 2px solid rgb(192, 137, 255);;
}

.image-detail{
	display: flex;
	flex-direction: column;
	gap: 10px 0px;
	margin: 0px auto;
	font-size: 20px;
	font-family: monospace;
	color: white;
}

.image-detail .image-name{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0px 0px 30px 0px;
}
.image-detail .image-name p{
	margin: 0px;
	font-size: 25px;
	font-weight: bold;
}

.image-detail .analyze-btn{
	width: 50%;
	min-width: 160px;
	margin: 20px auto;
	padding: 7px 0px;
	font-size: 20px;
	border: none;
	border-radius: 20px;
	cursor: pointer;
}