.homeContainer{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 1200px;
}

@media (max-width: 900px){
	.homeContainer{
		width: 100%;
	}
}